/* navbar */
.nav {
	color: #fff;
	background-color: #598AB0;
	width: 100%;
	height: 56px;
	line-height: 56px;
}

nav .brand-logo{
	position: absolute;
	display: inline-block;
	font-size: 15px !important;
	padding: 0;
}

form .login {
    width: 300px;
    margin: 20px auto;
}

/* cards */
.card.small .card-image, .card.medium .card-image, .card.large .card-image {
	height: 70%;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 250px !important;
}

.card-panel {
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	padding: 24px;
	margin: .5rem 0 1rem 0;
	border-radius: 2px;
	background-color: #fff;
	height: 330px !important;
}

.div {
	border: 2px solid black
}

.card .review{
	position: relative;
	margin: .5rem 0 1rem 0;
	background-color: #fff;
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	border-radius: 2px;
	height: 150px!important;
	border: 1px #598AB0 !important
}
.cafe {
	position: relative;
	margin: .5rem 0 1rem 0;
	background-color: #fff;
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	border-radius: 2px;
	height: 550px!important;
}

/* colors and spacing */
.rating label i:hover {
    color: red!important;
}

.rating label i::checked + label {
    color: red!important;
}

i:hover {
	color: red;
}

.section-contact h5 {
	margin-bottom: 30px;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 100% !important;
}

/* Star Rating and Highlight stars on hover */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label, /* show blue star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #42a5f5;  } /* hover previous stars in list */
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #42a5f5;  } 

/* Media Queries */
@media screen and (min-width: 1400px) {
.card {
		position: relative;
		margin: .5rem 0 1rem 0;
		background-color: #fff;
		-webkit-transition: -webkit-box-shadow .25s;
		transition: -webkit-box-shadow .25s;
		transition: box-shadow .25s;
		transition: box-shadow .25s, -webkit-box-shadow .25s;
		border-radius: 2px;
		height: 550px!important;
		}
	}
.card-panel {
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	padding: 24px;
	margin: .5rem 0 1rem 0;
	border-radius: 2px;
	background-color: #fff;
	height: 330px !important;
}

.card .review{
	position: relative;
	margin: .5rem 0 1rem 0;
	background-color: #fff;
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	border-radius: 2px;
	height: 150px!important;
	border: 1px #598AB0 !important
}


.alert {
	padding: 12px;
	border-radius: 3px;
	font-size: 1.2rem;
	margin-bottom: 16px;
	border-width: 2px;
	border-style: solid;
  }
  
.alert-error {
border-color: darkred;
background-color: red;
color: white;
}
  
.alert-info {
border-color: orange;
background-color: yellow;
color: black;
}