{% extends 'base.html' %} {% block content %}
<nav>
    <div class="nav-wrapper-light-blue darken-2">
      <a href="#" class="brand-logo">Coffee & Coastal Views</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="home.html">Home</a></li>
        <li><a href="{{ url_for('get_cafes') }}">Cafes</a></li>
        <li><a href="{{ url_for('get_profile') }}">My Profile</a></li>
        <li><a href="{{ url_for('index') }}" method="GET">Login</a></li>
      </ul>
    </div>
  </nav>
<h1>Cafes Page</h1>
    {% for cafe in cafes %}
    <div class="row">
        <div class="col l3 m4 s12">
            <div class="card">
                <div class="card-image">
                    <img src="{{cafe.image}}">
                </div>
                <div class="card-content">
                    <h6 class="card-title">{{cafe.name}}</h6>
                    <p>{{cafe.address}}</p>
                    <a href="{{ url_for('get_individualcafe', cafe_id=(cafe._id)) }}" class="waves-effect waves-light btn">See More</a>    
            </div>
        </div>
    </div>
      
        
    
        
        {% endfor %}
    
    
            
{% endblock %}