{% extends 'base.html' %} {% block content %}
<!--Cafe Image and Details Section-->
<div class="section">
	<div class="row">
		<div class="col s12 center-align">
			<h1>{{cafe.name}}</h1> 
        </div>
	</div>
	<div class="row">
		<div class="col s12 center-align"> <img src="../../{{cafe.imagepath}}"> </div>
	</div>
	<div class="row">
		<div class="col s12 center-align">
			<h5>{{cafe.address}}</h5> 
        </div>
	</div>
    <!--Add to Favourties Section-->
    <div class="section">
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('add_favourite', cafe_id=(cafe._id),user_id=(user_id)) }}" class="waves-effect waves-light btn light-blue lighten-3">Add to Favourites</a>
            </div>
        </div>
    </div>    
	<!--Rating Section-->
    <div class="section">
        <div class="row">
			<div class="col s12 center-align">
				<h5>RATING</h5> 
            </div>
            <div class="row">
            
                <div class="col rating-box offset-m3 offset-s2 offset-l4">
                    <!-- displays shaded stars to match average rating -->
                    {% for i in range(1,6) %}
                        {% if cafe.ratings_avg|int < i %}
                        <i class="material-icons blue-text text-darken-2 left cafe-rating">star_border</i>
                        {% else %}
                        <i class="material-icons blue-text text-darken-2 left cafe-rating">star</i>
                        {% endif %}
                    {% endfor %}
                    <a class="waves-effect waves-light btn btn-flat recipe-social modal-trigger light-blue lighten-3" href="#RateModal">
                    <i class="material-icons left">free_breakfast</i>Rate This Cafe!</a>
                </div>
               
            </div>
        </div>
    </div>
    
    <!-- Rate modal -->
    <div id="RateModal" class="modal">
		<form method="POST" action="{{ url_for('rate_cafe', cafe_id=cafe._id,user_id=user_id) }}">
            <div class=" modal-content modal-rating">
                <p>Tell us how much do you like this Cafe!</p>
                <div class="rating">
                    <input id="rating1" type="radio" name="rating" value="1">
                    <label for="rating1"><i class="material-icons blue-text text-darken-2 left cafe-rating">star_border</i></label>
                    <input id="rating2" type="radio" name="rating" value="2">
                    <label for="rating2"><i class="material-icons blue-text text-darken-2 left cafe-rating">star_border</i></label>
                    <input id="rating3" type="radio" name="rating" value="3">
                    <label for="rating3"><i class="material-icons blue-text text-darken-2 left cafe-rating">star_border</i></label>
                    <input id="rating4" type="radio" name="rating" value="4">
                    <label for="rating4"><i class="material-icons blue-text text-darken-2 left cafe-rating">star_border</i></label>
                    <input id="rating5" type="radio" name="rating" value="5" checked>
                    <label for="rating5"><i class="material-icons blue-text text-darken-2 left cafe-rating">star_border</i></label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="modal-close waves-effect waves-blue btn-flat blue-text light-blue lighten-3" type="submit"
                        name="action">Rate
                </button>
            </div>
        </form>
    </div>
    <!--Reviews Section-->
    <div class="section">
		<div class="row">
			<div class="col s12 center-align">
				<h5>REVIEWS</h5> 
            </div>
		</div>
    	<div class="row">
		{% for review in cafe.reviews %}	
		    <div class="col s12 m6 l4 xl3">
				<div class="card medium">
					<div class="card-content">
						<h6 class="card-title">{{review.details}}</h6>
                        <h6 class="card-title">{{review.user_name}}</h6>  
					</div>
				</div>
			</div>
		{% endfor %}
		</div>            
	</div>
    
    <!--Add Review-->
	<div class="row">
		
        <form method="POST" class="col s12 box" action="{{ url_for('add_review', cafe_id=cafe._id, user_id=user_id) }}">
            <div class="form-group">
                <label for="review_user">Write Review Below</label>
                <div class="input-field col s12 box">
                    <textarea id="textarea1" name="details" class="materialize-textarea"></textarea>
                </div>
            </div>
			<button class="btn waves-effect waves-light light-blue lighten-3" type="submit">Add Review </button>
		</form>
	</div> 
    {% endblock %}