{% extends 'base.html' %} {% block content %}
<nav>
    <div class="nav-wrapper-light-blue darken-2">
      <a href="#" class="brand-logo">Coffee & Coastal Views</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="home.html">Home</a></li>
        <li><a href="{{ url_for('get_cafes') }}">Cafes</a></li>
        <li><a href="{{ url_for('get_profile') }}">My Profile</a></li>
        <li><a href="{{ url_for('index') }}" method="GET">Login</a></li>
      </ul>
    </div>
  </nav>
  <div class="container backg-img">
    
  </div>
  